
<div class="container">
    <div class="row align-items-center vh-100">
        <div class="col-12 mx-auto">
            <div class="card shadow border">
                <div class="card-body ">
                    <form #form="ngForm">
                        <div class="row s-4" *ngFor="let values of question_Details; let i=index">
                            <div class="col-12">
                                <p>{{i+1}} {{values.question}}</p>
                            </div>
                            <div class="col-12" *ngIf="values.id === 1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" value="Yes" type="radio" [(ngModel)]="model.answer_1"  name="flexRadioDefault" id="flexRadioDefault1" (change)="fieldCheck(values,model.answer_1)" >
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" value="No" [(ngModel)]="model.answer_1"  type="radio"  name="flexRadioDefault_1" id="flexRadioDefault2" (change)="fieldCheck(values,model.answer_1)" >
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="col-12" *ngIf="values.id === 2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="model.answer_checkBox_1" name="checkbox_yes"    (change)="fieldCheckBox($event,model.answer_checkBox_1,1)" >
                                    <label class="form-check-label" >
                                      Yes
                                    </label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="model.answer_checkBox_2" name="checkbox_no"   (change)="fieldCheckBox($event,model.answer_checkBox_2,2)" >
                                    <label class="form-check-label" >
                                      No
                                    </label>
                                  </div>
                            </div>
                            <div class="col-12" *ngIf="values.id === 3">
                                <input type="text" class="form-control form-control-sm" [(ngModel)]="model.answer_3" (change)="fieldCheck(values,model.answer_3)" placeholder="Please Enter Yes/No" name="yes_no1" >
                            </div>
                            
                            <div class="col-12" *ngIf="values.id === 4">
                                <select class="form-select form-select-sm" name="yes_no" [(ngModel)]="model.answer_4" (change)="fieldCheck(values,model.answer_4)"  >
                                    <option >Yes</option>
                                    <option >No</option>
                                  </select>
                            </div>
                        
                        
                        
                        </div>
                        <div class="col-12" *ngIf="incomplete_test === true">
                            <p class="text-danger" >Please Enter the All Answers</p>
                        </div>
                        <div class="col-12">
                            <button type="button" class="btn btn-success btn-sm m-2" [disabled]="form.invalid" (click)="submit(template);">Submit</button>
                            <button type="button" class="btn btn-primary btn-sm " (click)="cancel()">Cancel</button>
                        </div>
                    </form>
                    
    
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Result </h4>
        <button type="button" class="btn-primary" (click)="close()"  aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 mx-auto">
                    <div class="card shadow border b-4">
                        <div class="card-body d-flex flex-column align-items-center ">

                            <p><label for="">User Name ::</label>{{data.name}}</p>
                            <p><label for="">User Email ::</label>{{data.email}}</p>
                        </div>
                        <div class="card-body d-flex flex-column align-items-center ">

                            <p class="text-success">Correct Answer :: {{answer_Counter}} </p>
                            <p class="text-danger">Incorrect Answer :: {{incorrecute_Counter}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</ng-template>